{% extends "base.html" %}

{% block body %}
<div class="table-div pt-3 p-5">
<h2 class="py-4">Сайты</h2>
<table class="table table-bordered" data-test="urls">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Последняя проверка</th>
      <th>Код ответа</th>
    </tr>
  </thead>
  <tbody>
    {% for site in sites %}
      <tr>
        <td>{{site.id}}</td>
        <td><a href="{{url_for('get_url', id=site.id)}}">{{site.name}}</a></td>
        <td>{{site.created_at or " "}}</td>
        <td>{{site.status_code or " "}}</td>
      </tr> 
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
